body{
    font-family: Arial;
    text-align:center;
    background:#eee;
}

.container{
    margin-top:30px;
}

.hide{
    display:none;
}

input{
    padding:10px;
    margin:10px;
    width:250px;
    border:2px solid #000;
}

button{
    padding:12px 30px;
    font-size:18px;
    cursor:pointer;
}

.board{
    width:360px;
    margin:20px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
}

.cell{
    width:120px;
    height:120px;
    border:2px solid #000;
    font-size:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#e7a9b2;
    cursor:pointer;
}

.message{
    font-size:22px;
    font-weight:bold;
}