body{
font-family:Arial;
text-align:center;
background:#eee;
}

.board{
width:360px;
height:360px;
margin:20px auto;
display:grid;
grid-template-columns:repeat(3,120px);
grid-template-rows:repeat(3,120px);
}

.cell{
width:120px;
height:120px;
border:2px solid #000;
display:flex;
align-items:center;
justify-content:center;
font-size:60px;
background:#e7a9b2;
cursor:pointer;
}

input{
padding:10px;
margin:10px;
width:250px;
}

button{
padding:12px 30px;
}
.message{
font-size:22px;
font-weight:bold;
}